@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

.Page__Content {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 65vw;
  font-family: 'Hind Siliguri', sans-serif;
}

.Page__Title {
  font-family: 'IBM Plex Mono', monospace;
  margin-bottom: 3rem;
  text-align: center;
  font-size: 250%;
}

.Page__ListItem {
  text-align: left;
  font-size: large;
}

.Page__EmphText {
  font-family: 'IBM Plex Mono', monospace;
  color: rgb(126, 42, 42);
}

.Page__Subtitle {
  text-align: left;
  font-size: larger;
  font-family: 'IBM Plex Mono', monospace;
  margin: 1.5rem 1rem 0 0;
}

.Page__Text {
  text-align: justify;
  margin-bottom: 0;
  margin-top: 1px;
  font-size: large;
  line-height: 1.5;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased !important;
  -moz-font-smoothing: antialiased !important;
  text-rendering: optimizelegibility !important;
  letter-spacing: .03em;
}

.Page__Button {
  border: solid black 2px;
  padding: 10px;
  font-size: 17px;
  margin: 2rem 30% 0 30%;
  font-family: 'IBM Plex Mono', monospace;
  cursor: pointer;
}
