@import url('https://fonts.googleapis.com/css2?family=Mali&display=swap');

* {

  box-sizing: border-box;
  text-align: center;
  font-family: 'Mali', cursive;
}

.Page {
  display: flex;
  flex-direction: row;
}

.Nav {
  border-right: solid 1px gray;

}

.Nav__LevelList {
  width: 25vw;
  display: flex;
  flex-direction: column;


}

.Nav__LevelButton:hover {
  font-size: larger;
}

.Nav__LevelButton {
  border-style: none;
  background-color: rgba(255, 255, 255, 0);
  cursor: pointer;
  font-size: large;
  margin: 0.5em 0;
}