@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@500&display=swap');

.Level {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}

.Level__Title {
  font-size: 50px;
  margin: 6rem 0 2rem 0;
  font-family: 'IBM Plex Mono', monospace;
}

.Level__Description {
  margin-top: 0;
  margin-bottom: 3rem;
  font-size: 22px;
}

.Level__Content {
  width: 100%;
  justify-content: center;
}

.Level__InputBit {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-left: 5px;
  width: 90%;
}

.Level__InputForm {
  height: 2em;
  flex-basis: 90%;
  text-align: left;
  padding-left: 5px;
  font-size: 22px;
}

.Level__InputForm:focus {
  outline: none;
}

.preInput {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin: auto;
  margin-left: 0px;
  flex-basis: 10%;
  font-size: 22px;
  text-align: right;
  padding-right: 5px;
}

.Level__InputBit {
  display: flex;
  flex-direction: row;
  width: 80%;
  background-color: rgba(0, 0, 0, 0);

}

.Level__Button--Submit {
  background-color: white;
  margin-top: 10px;
  border-radius: 8px;
  border-width: 1px;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
}