.Result {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin: auto;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;


}

.Resultshaded {
  display: flex;
  flex-direction: row;
  justify-content: left;
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
}

.Result__Text {
  font-size: 55px;
  text-align: left;
  padding: 0.4em 0;
  margin: 0%;
}

/* .Result__Container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 25vw;
  margin-bottom: 1.5rem;
} */