.Resultquery {
}

.Resultshaded,
.Resultquery {
  position: absolute;
  display: flex;
  width: 100%;
}

.Result__Text {
  font-size: 55px;
  padding: 0.4em 0;
  width: 100%;
  margin: 0%;
  text-transform: uppercase;
  opacity: 0.3;
}
