.Level__Collection {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 25vw;
  margin-bottom: 1.5rem;
}

.Level__Collectionshaded {
  display: flex;
  flex-direction: row;
  justify-content: left;
  margin-left: 25vw;
  margin-bottom: -100%;
}

.Level__CollectionContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

img {
  margin: 5px;
  aspect-ratio: 1/1;
  width: 12%;
}

.Level__Shape--Green {
  filter: invert(72%) sepia(100%) saturate(3000%) hue-rotate(70deg) brightness(70%) contrast(100%);
}

.Level__Shape--Blue {
  filter: invert(40%) sepia(80%) saturate(7450%) hue-rotate(250deg) brightness(70%) contrast(142%);
}

.Level__Shape--Red {
  filter: invert(40%) sepia(85%) saturate(7069%) hue-rotate(-40deg) brightness(70%) contrast(113%);
}

.shaded {
  opacity: 0.3;
  /* width: 8%; */
  /* margin-bottom: -4vw;*/
  /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
  /* position: relative;
  transform: translateX(-20%); */
}