.Level__Collection {
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.Level__Shape--Green {
  margin: 5px;
  width: 10%;
  filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.Level__Shape--Blue {
  margin: 5px;
  width: 10%;
  filter: invert(9%) sepia(80%) saturate(7450%) hue-rotate(246deg) brightness(102%) contrast(142%);
}

.Level__Shape--Red {
  margin: 5px;
  width: 10%;
  filter: invert(11%) sepia(85%) saturate(7069%) hue-rotate(3deg) brightness(106%) contrast(113%);
}